# Data & ML
pandas
numpy
scikit-learn==1.9.1
xgboost
imbalanced-learn
joblib

# MLflow
mlflow

# DVC
dvc
dvc[s3]

# Database
sqlalchemy

# API
fastapi
uvicorn
pydantic

# Monitoring
evidently

# Notebook
jupyter
ipykernel

# Visualization
matplotlib
seaborn

# Testing
pytest
httpx

# Utilities
python-dotenv

# UI
gradio
requests

